<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>{$name}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="Public/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="Public/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="Public/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
    <section class="main-banner" id="home">
        
        <div class="container">
            <div class="baner-info-w3ls text-left">
                <h1>{$name}</h1>
                <h6 class="mx-auto mt-4">软件授权管理一站式解决方案，业务上云，拥抱云时代</h6>
                <a class="btn btn-primary mt-lg-5 mt-3 agile-link-bnr scroll" href="/Home/Login"  role="button">商户登录</a>
                <a class="btn btn-primary mt-lg-5 mt-3 agile-link-bnr scroll" href="/Proxy/Login"  role="button">代理登录</a>
				<br>
				<a class="btn btn-primary mt-lg-5 mt-3 agile-link-bnr scroll" href="/Index/Pay"  role="button">商户充值</a>
				<a class="btn btn-primary mt-lg-5 mt-3 agile-link-bnr scroll" href="/Index/Query"  role="button">用户查码</a>
            </div>
			<div class="rotate">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$qq}&site=qq&menu=yes"><img border="0" src="http://pub.idqqimg.com/qconn/wpa/button/button_11.gif" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
                <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=d20798fcd72a4ac7e7f6e43fab122572fb307094c68e91e4c366f79d014ab1d6"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="爱腾讯☆爱生活" title="爱腾讯☆爱生活"></a>                 
            </div>
		</div>
		
    </section>
    <section class="wedo py-lg-5 py-5" id="about">
        <div class="container py-lg-5">
            <div class="text-center">
                <h3 class="tittle_head">{$name}</h3>
                <p class="main_p mt-4 mb-4 pt-2 text-center mx-auto">支持一键化傻瓜式操作注入APK加网络验证/引流弹窗 可支持动态切换模板/模式<br/>更高效的管理 更有效的可控 更可靠的服务<br/>更简洁的控制页面 功能更全的模式<br/>全新网络验证注入机制 支持4.0-10.0系统 支持对接快发卡应用内拉起支付</p>
            </div>
            <div class="wedo_top text-center py-5">
                <ul>
                    <li><span class="fa fa-cog"></span></li>
                    <li><span class="fa fa-code"></span></li>
                    <li><span class="fa fa-copy"></span></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="banner-bottom" id="news">
        <div class="banner-top row middle-grids">
            <div class="col-lg-4 advantage-grid-info1">
                <div class="advantage_left2 text-center">
                </div>
            </div>
            <div class="col-lg-8 advantage-grid-info">
                <div class="advantage_left">
                    <h3>高效 / 简洁 / 可靠 <br>最稳定的服务平台</h3>
                    <p class="mt-4">致力于提供更好的体验 更可靠的服务分发 功能更强大的云服务网络验证</p>
                </div>
            </div>
        </div>
    </section>
	
	
	
	
	<!--赞助/开发-->
    <section class="team-main-sec py-lg-5 py-4" id="team">
        <div class="container">
            <div class="inner-sec-wthree py-lg-5 py-4 speak">
                <div class="text-center">
                    <h3 class="tittle_head">Project development</h3>
                    <p class="main_p mt-4 mb-4 pt-2 text-center mx-auto">This service platform is based on the following sponsors/developers to jointly develop and develop</p>
                </div>
                <div class="row mt-lg-5 mt-4">
                    <div class="col-md-4 team-gd-info text-center">
                        <div class="team-gd">
                            <div class="team-img mb-4">
                                <img src="http://q2.qlogo.cn/headimg_dl?dst_uin=1834661238&spec=100" class="img-fluid rounded-circle" alt="user-image">
                            </div>
                            <div class="team-info">
                                <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Designer</span> China PanGolin </h3>
                                <p>Project chief design developer</p>
                                <ul class="team_social_info mt-md-4 mt-3">
                                    <li class="mb-2 google"><a href="mailto:PanGolin520@Gmail.com"><i class="fa fa-google mr-1"></i>Google</a></li>
                                    <li class="mb-2 twitter"><a  target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1834661238&site=qq&menu=yes"><i class="fa fa-qq mr-1"></i>Tencent QQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd-info text-center">
                        <div class="team-gd">
                            <div class="team-img mb-4">
                                <img src="http://q2.qlogo.cn/headimg_dl?dst_uin=1154313420&spec=100" class="img-fluid rounded-circle" alt="user-image">
                            </div>
                            <div class="team-info">
                                <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Designer</span>black.studio@qq.com</h3>
                                <p>更稳定 / 高效率 云网络验证</p>
                                <ul class="team_social_info mt-md-4 mt-3">
                                    <li class="mb-2 twitter"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1154313420&site=qq&menu=yes"><i class="fa fa-qq mr-1"></i>Tencent QQ</a></li>
                                    <li class="mb-2 google"><a href="http://www.baidu.com"><i class="fa fa-internet-explorer mr-1"></i>官网</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd-info text-center">
                        <div class="team-gd text-center">
                            <div class="team-img mb-4">
                                <img src="http://q2.qlogo.cn/headimg_dl?dst_uin=17882440&spec=100" class="img-fluid rounded-circle" alt="user-image">
                            </div>
                            <div class="team-info">
                                <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Designer</span> 蟹老板 </h3>
                                <p>Project UI design provider</p>
                                <ul class="team_social_info mt-md-4 mt-3">
                                    <li class="mb-2 twitter"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=17882440&site=qq&menu=yes"><i class="fa fa-qq mr-1"></i>Tencent QQ</a></li>
                                    <li class="mb-2 twitter"><a href="mailto:17882440@qq.com"><i class="fa fa-envelope-o mr-1"></i>QQ Email</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
	
	
	<!--客户反馈-->
    <section class="testimonials py-5" id="testimonials">
        <div class="container">
            <div class="inner-sec-wthree py-lg-5 py-4">
                <div class="text-center">
                    <h3 class="tittle_head">用户反馈/意见</h3>
                    <p class="main_p mt-4 mb-4 pt-2 text-center mx-auto"></p>
                </div>
                <div class="row mt-lg-5 mt-4">
                    <div class="col-lg-6 test-grid text-left">
                        <div class="row">
                            <div class="col-md-4 test-img">
                                <img src="http://q2.qlogo.cn/headimg_dl?dst_uin=17882440&spec=100" class="img-fluid" alt="user-image">
                            </div>
                            <div class="col-md-8 test-info">
                                <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Good Service</span>2019/10/10 14:16:40</h3>
                                <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 test-grid text-left">
                        <div class="row">
                            <div class="col-md-4 test-img">
                                <img src="http://q2.qlogo.cn/headimg_dl?dst_uin=17882440&spec=100" class="img-fluid" alt="user-image">
                            </div>
                            <div class="col-md-8 test-info">
                                <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Sub Title</span> Mariana Noe</h3>
                                <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
	
	
    <div class="cpy-right text-center pb-5">
            <ul class="social_section_1info mb-lg-4">
                <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
            </ul>
            <p class="copy-w3ls mb-4">Copyright © 2019-2025 {$name}™ All Rights Reserved.</p>
    </div>
</body>
</html>
